form{
    display: flex;
    flex-direction: column;
}

.formContainer{
    background-color: white;
    border:solid #D9D9D9 1px;
    height: 50vh;
    width: 50vh;
    position: relative;
}

#homelink{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}