.fullPageContainer{
    height: 100vh;
    min-width: 100vw;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom:2em;
    overflow-y: scroll;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    margin:0;
}

.unchangeInfo{
    color: #828282;
    
}

.Info{
    background-color: var(--third-color);
    padding: 0.5em;
    border-radius: 7px;
    margin: 0 0.5em;
    padding: 1em;
    max-width: calc(100vw - 5em);
    box-sizing: border-box;
}

.infoContainer{
    display: flex; 
    flex-direction:column; 
    width: calc(100% - 4em); 
    text-align:left; 
    gap:0.5em;
    margin: 0 2em;
    box-sizing: border-box;
}

a.link{
    cursor: pointer;
}

.typeContainer{
    background-color: #828282;
    color: var(--third-color);
    width: fit-content;
    padding: 0 1em;
    border-radius: 10px;
}

.allowOverflow{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1em;
    padding-bottom: 0.7em;
}


.allowOverflow::-webkit-scrollbar {
    height: 5px;
}

.allowOverflow::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.currentType{
    border: var(--third-color) 1px solid;
    border-radius: 10px;
    height: fit-content;
    padding: 5px 1em 0 1em;
    max-width: 60vw;
}

.otherType{
    border: var(--third-color) 1px solid;
    border-radius: 10px;
    height: fit-content;
    max-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    overflow-y: scroll;
    overflow: auto;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
}

.typeForm{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 70vh;
}

.typeForm .typeContainer{
    cursor: pointer;
}

.tableWrapper {
  width: 100%;
  justify-content: center;
}
.dayTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
  table-layout: fixed;
}

.dayTable th,
.dayTable td {
  padding: 0.4em 0;
  text-align: center;
  font-size: 0.95rem;
}

.dayLabel {
  text-align: left;
  padding-left: 0.8em;
}

.timeContainer {
  width: 30%;
  height: 2em;
}

.timeInput {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.2em;
  outline: none;
  background: transparent;
  height: 100%;
}

.statusCell {
  font-weight: bold;
  text-align: center;
  width: 15%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.allowOverflowy{
  max-height: 10em;
  flex-direction: column;
  overflow-y: scroll;
}

.allowOverflowy::-webkit-scrollbar {
    width: 5px;
}

.allowOverflowy::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.allowOverflowy input[type="text"]{
  border: #828282 2px solid;
}

.allowOverflowy div{
  margin-bottom: 5em;
}

.allowOverflowy div:last-of-type{
  margin-bottom: 0em;
}
