.imgContainerDetail{
    aspect-ratio: 3/1;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 2em;
    box-sizing: border-box;
}

.detailContainer{
    border-top: 1px solid black;
    margin-top: -2em;
    border-radius: 1em;

}

.typeDetailContainer{
    display: flex;
    padding: 0 2em;
    gap:1em;
    overflow-x: scroll;
}


.typeDetailContainer::-webkit-scrollbar {
  display: none;
}

/* === Responsive for Smaller Screens === */
@media (max-width: 768px) {
  .imgContainerDetail{
    height: 30vh;
  }
}
 