#root {
  margin: 0 auto;
  text-align: center;
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --third-color: #D9D9D9;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  overflow-x: hidden;
}

@media (max-width:768px) {

  body,html {
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
  }

}